<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Agendamento de Procedimento Médico</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Agendamento de Procedimento Médico</h1>
  <button onclick="location.href='/medico'">1 - CADASTRAR MÉDICO</button>
  <button onclick="location.href='/procedimento'">2 - CADASTRAR PROCEDIMENTO</button>
  <button onclick="location.href='/hospital'">3 - CADASTRAR HOSPITAL</button>
  <button onclick="location.href='/agendamento'">4 - CONFIRMAR AGENDAMENTO</button>
</body>
</html>
